.background {
	-fx-background-color: #f4f7fc;

}

.buttons:hover {
    -fx-background-color: #635BFF;

}

.buttons {
-fx-font-size: 16px;
-fx-font-weight: bold;
    -fx-background-color : #635BFF;

}

.manage-books {
-fx-border: none;
}
